.message{
    background: #fff;
    border-radius: 15px;
}

.message__body{
    display: flex;
    padding: 15px
}

.message__profile{
    flex: 0 1 70px;
}

.message__dialogs{
    flex: 1 1 auto;
    text-align: center;
}

.items{
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
    position: relative;
}

.items__icon{
    width: 30px;
    height: 30px;
    background: turquoise;
    border-radius: 50%;
    margin: 0 10px 0 0;
}
